@page
@model Universidad.Pages_Estudiantes.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.id_estudiante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.id_estudiante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.Fecha_de_inscripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Fecha_de_inscripcion)
        </dd>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id_Cursos inscritos
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Estudiante.Inscripciones)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_curso)
                        </td>
                    </tr>
                }
            </tbody>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Estudiante?.id_estudiante">Editar</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
