@page
@model Universidad.Pages_Estudiantes.IndexModel

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiantes</h1>

<p>
    <a asp-page="Create">Nuevo Estudiante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].id_estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante[0].Fecha_de_inscripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estudiante) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_estudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_de_inscripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_estudiante">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.id_estudiante">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_estudiante">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
