@page
@model Universidad.Pages_Cursos.IndexModel

@{
    ViewData["Title"] = "Cursos";
}

<h1>Cursos</h1>

<p>
    <a asp-page="Create">Nuevo Curso</a>
</p>
<form>
    <p>
        TItulo de la materia: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].id_curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].creditos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Curso)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creditos)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id_curso">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.id_curso">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id_curso">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
